.carousel-card {
  width: 12rem;
  align-items: center;
  text-align: center;
  position: relative;
}
.carousel-card > img {
  width: 10rem;
  height: 10rem;
  margin: 1rem 1rem 0 1rem;
}
.carousel-detail {
  padding: 1rem;
}
.carousel-price {
  font-size: 1.2rem;
  color: rgb(29, 29, 245);
}
.carousel-title {
  font-size: 1.2rem;
}
.hover-area {
  display: block;
  transition: 0.2s;
  opacity: 0;
}
.add-carted {
  width: 100%;
  border-radius: 60px;
  background-color: white !important;
  height: 2rem;
  padding: inherit;
  margin-bottom: 0.5em;
  border: 1px solid rgb(29, 29, 245);
}
.compare-link {
  display: block;
}
.carousel-card:hover {
  border: 1px solid gray;
}
.carousel-card:hover .hover-area {
  opacity: 1;
}

.container-custom {
  width: 1280px;
  margin: auto;
}

.carousel-custom {
  height: 30rem;
  margin-top: -90px;
}

.react-multiple-carousel__arrow {
  position: absolute;
  outline: 0;
  transition: all 0.5s;
  margin-left: -70px !important;
  margin-right: -73px !important;
  border-radius: 50% !important;
  min-width: 0.8rem !important;
  min-height: 0.5rem !important;
  z-index: 9 !important;
  border: 0;
  background: transparent !important;
  opacity: 1;
  cursor: pointer;
  outline: none !important;
}
.react-multiple-carousel__arrow::before {
  font-size: 1rem !important;
}
.react-multiple-carousel__arrow:hover {
  background: transparent !important;
}
// .react-multi-carousel-item {
//   // width: 12rem !important;
// }

.arrow {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACKUExURUxpcYGBgYGBgYWFhYCAgICAgICAgIKCgv///4GBgZWVlYyMjIGBgYCAgIKCgoGBgYGBgaqqqoODg7+/v4GBgZKSko6OjoGBgYWFhYGBgYSEhIGBgZmZmYCAgIGBgYGBgYCAgICAgIGBgYCAgICAgIiIiICAgIeHh4GBgYSEhIODg4GBgYGBgYCAgPLijmAAAAAtdFJOUwCS7jCDi/E1AbYMFJrrK9ToAycEugcJtBfYG64Fp+S+vb+god0e4SLcHyPgwPJLUkAAAAB6SURBVDjLY2AYYoCdkwu/AgVdHTG8Crj5dUVE8aqQkNQVl8GrQkpDV1oYrwpVbV1ZQbwq1OV0lTnwqhAS0OXBr4KPV5cRf3AwM+myEghRNl0WihQQsoKQIwl5U0tOVwmfvKYa/qCWUsEfWYSim2CCkddVFKMs0Q5aAABM4wlSQJ87yAAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 12px !important;
  height: 12px !important;
  color: gray !important;
  vertical-align: middle;
}

.react-multiple-carousel__arrow::before {
  color: black !important;
}

.products:not(.slick-slider) .product {
  flex: none !important;
  max-width: 180px !important;
}
